<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
    <%if (user) {%>
        <li>
            <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
        </li>
        <li>
            <a href="/albums" <%- title === 'Albums' ? 'class="active"' : '' %>>ALBUMS</a>
        </li>
        <li>
            <a href="/artists" <%- title === 'Artists' ? 'class="active"' : '' %>>ARTISTS</a>
        </li>
        <li>
            <a href="/logout">LOGOUT</a>
        </li>
    <% } else { %>
        <li>
            <a href="/albums" <%- title === 'Albums' ? 'class="active"' : '' %>>ALBUMS</a>
        </li>
        <li>
            <a href="/auth/google">LOGIN</a>
        </li>
        <% } %>
      </nav>
    
</body>
</html>