<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
      <!-- Materialize CSS Framework -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <!-- JavaScript for Materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script defer src="/javascripts/script.js"></script>
    <title>RTR</title>
</head>
<body>
    <nav class="#0277bd light-blue darken-3">
        <div class="nav-wrapper">
        <a href="/" class="brand-logo center black-text">RATE THE RECORD</a>
        <ul>
            <li class="left <%- currentRequestedURL === '/' && 'active' %>">
                <a href="/" class="black-text" id="nav-tag"><i class="small material-icons left">headset</i>HOME</a>
            </li>
            <li class="left <%- currentRequestedURL === '/albums' && 'active' %>">
                <a href="/albums" class="black-text" id="nav-tag"><i class="small material-icons left">music_note</i>ALBUMS</a>
            </li>
            <li class="left <%- currentRequestedURL === '/artists' && 'active' %>">
                <a href="/artists" class="black-text" id="nav-tag"><i class="small material-icons left">person</i>ARTISTS</a>
            </li>
            <%if (user) {%>
            <li class="right">
                <a href="/logout" id="nav-tag-log">LOGOUT</a>
            </li>
        <% } else { %>
            <li class="right">
                <a href="/auth/google" id="nav-tag-log">LOGIN</a>
            </li>
        <% } %>
        </ul>
        </div>
    </nav>