* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #000000;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #000000;
}

main {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  margin-top: 25px;;
}

h1 {
  text-align: center;
  color: #000000;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: #000000;
  font-family: 'Baloo Bhai', cursive;
}

label {
  color: #000000;
  font-size: medium;
}

th {
  font-size: 18px;
}

td {
  font-size: 15px;
}


#details-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  justify-items: start;
  font-size: 20px;
  width: 400px;
  margin: auto;
  justify-content: center;
}

#detail-pic {
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
}

#albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 2rem;
  margin-bottom: 20px;
  
}

#album-pic {
  width: 90px;
  height: 90px;
  margin-bottom: 4px;
  margin-top: 8px;
}

#nav-tag {
  font-family: 'Baloo Bhai', cursive;
  font-size: large;
}

#add-review-form {
  width: 600px;
}

#card-login {
  color: #03a9f4;
}

#edit, #delete {
  background-color: #0277bd;
}


.edit-btn {
  background-color: #0277bd;
}

.card, .card-image {
  text-align: center;
  align-items: center;
  align-content: center;
}

.brand-logo {
  font-family: 'Permanent Marker', cursive;
}




