<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ALBUMS</title>
</head>
<body>
    <h1>ALBUMS</h1>
    <section>
       <% albums.forEach(function(a) { %>
        <a href="/albums/<%= a._id%>">Details</a>
        <div>Title: <%= a.title %></div>
        <div>Artisit: <%= a.artist %></div></br>

       <% }) %>
    </section>
    <a href="/">Home</a>
</body>
</html>